<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2><%= @lists.title %></h2>
      <p><%= @lists.description %></p>
      <div id="todo_items_wrapper">
      
      </div>
    </div>
  </div>
</div>
